In [1]:
2345%13

5

In [3]:
1567//17

92

In [7]:
# FirstName =! Firstname

In [16]:
# 13Friday is wrong variable

In [15]:
a = 2345 % 13
b = 1567 // 17
print('1. {} and 2. {}'.format(a,b))

1. 5 and 2. 92

In [1]:
math = lambda x : x / 3
print(math(18))

6.0

In [3]:
def average(x,y,z,a) :
    result = (x+y+z+a) / 4
    return result 
print (average(2,3,4,5))

3.5

In [4]:
A = lambda x,y,z: (x+y+z)/ 3
print(A(6,7,8))

7.0

In [9]:
lst = ['sirivimol','amponnavrat','17']
del lst[2]
lst.insert (0,7)
lst.append (153)
lst.append (65)
print (lst[3:])

[153, 65]

In [14]:
a = [[[1,3],[3,4]],[5,[5,6],[7,8]]]
a[1][1][1]

6

In [15]:
name1 = ['Amigail','Scott','19']
name2 = ['Max','Jenzen','23']
name3 = ['Paul','Johnson','34']
name4 = ['Claire','Smith','55']
lst = [name1,name2,name3,name4]
del lst[3]
lst.insert(0,['Nina','lorenz','24'])
del lst[1]
lst.insert(1,['Max','Jenzen','33'])
print(lst)

[['Nina', 'lorenz', '24'], ['Max', 'Jenzen', '33'], ['Max', 'Jenzen', '23'], ['Paul', 'Johnson', '34']]

In [17]:
lst = [1,2,3,4,5,6,7,8,9,10]
result = map(lambda x:x**3, lst)
print(list(result))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [21]:
def func(a): return a**3
lst = [1,2,3,4,5,6,7,8,9,10]
print(list(map(func,lst)))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [22]:
lst = [1,2,3,4,5,6,7,8,9,10]
final_list = filter(lambda x:(x%2 != 0), lst)
print(list(final_list))

[1, 3, 5, 7, 9]

In [36]:
def func(a): return a%2 != 0
lst = [1,2,3,4,5,6,7,8,9,10]
print(list(filter(func,lst)))

[1, 3, 5, 7, 9]

In [29]:
lst = [1,2,3,4,5]
lst2 = [(x*2)-1 for x in lst]
print(lst2)

[1, 3, 5, 7, 9]

In [30]:
lst = [1,2,3,4,5]
lst2 = [x*3 for x in lst if x%3!=0]
print(lst2)

[3, 6, 12, 15]

In [31]:
i = 90
if(i>80):
    print("A")
elif(i>70):
    print("B")
elif(i>60):
    print("C")
elif(i>50):
    print("D")
else:
    print("F")

A

In [32]:
A = [1,2,3,4,5]
B = [2,3,1,3,2]
result=map(lambda x,y:y**x,A,B)
print(list(result))

[2, 9, 1, 81, 32]

In [33]:
name = ['Nam','Ken','Ton']
number = [1,25,43]
score = [80,65,100]
mapped = list(zip(name,number,score))
print(mapped)

[('Nam', 1, 80), ('Ken', 25, 65), ('Ton', 43, 100)]

In [34]:
from functools import reduce
lst = [5,2,1,3,2]
sum = reduce((lambda x,y:x**y),lst)
print(sum)

244140625

In [35]:
from functools import reduce
lst = [5,2,1,3,2]
sum = reduce((lambda x,y:x*y),lst)
print(sum)

60